@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	color: black;
}
.container {
	width: 100%;
	height: 100%;
	margin: auto;
	user-select: none;
	overflow-x: hidden;
	position: relative;
}
.header {
	background-color: #fff;
	color: black;
	text-align: center;
	padding: 1.75rem;
}
.header h1 {
	font-size: 2.25rem;
}
.date {
	text-align: center;
	font-size: 1rem;
	padding: 0.75rem 1rem 0.75rem 1rem;
}
ul.currencies {
	height: calc(100vh - 40px - 100px - 40px - 58px);
	background-color: #fff;
	padding: 1rem;
	overflow-y: auto;
}
ul.currencies li {
	background-color: rgb(235, 235, 235);
	border-radius: 5px;
	list-style: none;
	padding: 1rem 1rem 0.75rem 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	position: relative;
	display: inline-flex;
	border: 1px solid black;
}
ul.currencies li.base-currency {
	background-color: rgb(204, 215, 255);
}
.flag {
	width: 60px;
	height: 40px;
	border: 1px solid black;
	vertical-align: top;
}
.info {
	display: inline-block;
	width: 78%;
}
.info .input span {
	font-size: 1.5rem;
	display: inline-block;
	width: 4rem;
	text-align: center;
}
.info .input input {
	font-size: 1.5rem;
	width: 78%;
	background-color: transparent;
	border: 2px solid black;
	border-radius: 5px;
	color: black;
	padding: 0.3rem;
	margin-bottom: 0.75rem;
}
.info .currency-name {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-left: 4rem;
}
.info .base-currency-rate {
	font-size: 0.8rem;
	margin-left: 4rem;
}
ul.currencies li .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 0.5rem 0.5rem 0.5rem;
	font-size: 2rem;
	color: rgb(247, 92, 92);
	cursor: pointer;
}
ul.currencies li .close:hover {
	color: rgb(184, 0, 0);
}
ul.currencies::-webkit-scrollbar {
	width: 5px;
}
ul.currencies::-webkit-scrollbar-thumb {
	background-color: #2d2d37;
	border-bottom: 1rem solid #222;
}
.add-currency-container {
	display: flex;
	justify-content: center;
}
ul.add-currency-list {
	position: absolute;
	bottom: 54px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.75rem;
	background-color: #f1f1f1;
	color: #333;
	width: 23rem;
	height: 0;
	overflow-y: auto;
	transition: all 0.25s;
}
ul.add-currency-list li {
	list-style: none;
	padding: 0.75rem;
	border-bottom: 1px solid #ddd;
}
ul.add-currency-list li.disabled {
	opacity: 0.4;
	cursor: not-allowed;
}
ul.add-currency-list li .flag {
	width: 3rem;
	height: 2rem;
	vertical-align: middle;
}
ul.add-currency-list li span {
	margin-left: 1rem;
	font-weight: bold;
}
ul.add-currency-list li:hover {
	background-color: grey;
}
.add-currency-btn {
	background-color: #00b386;
	color: #fff;
	border-radius: 5px;
	padding: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	border: none;
	outline: none;
	cursor: pointer;
	transition: background-color 0.25sec;
	width: 12rem;
	margin-top: 1rem;
}
.add-currency-btn.open {
	background-color: #d9534f;
}
.add-currency-btn.open + ul.add-currency-list {
	height: calc(100vh - 40px - 100px - 55px);
}

@media (max-width: 600px) {
	html {
		font-size: 14px;
	}
	.container {
		width: 100%;
		margin: 0 auto;
	}
	ul.currencies {
		height: calc(100vh- 83px - 34px - 51px);
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	ul.currencies li {
		margin: 0rem;
		border-radius: 0;
	}
	.header h1 {
		font-size: 2rem;
	}
	.flag {
		width: 3rem;
		height: 2rem;
	}
	.info .input span {
		font-size: 1.25rem;
		width: 3.5rem;
	}
	.info .input input {
		font-size: 1.25rem;
		width: 76%;
	}
	.info .currency-name {
		margin-left: 3.5rem;
	}
	.info .base-currency-rate {
		margin-left: 3.5rem;
	}
	ul.add-currency-list {
		bottom: 48px;
	}
	.add-currency-btn {
		margin-top: 2.5rem;
	}
}
